@import "./common/common";
@import "./common/layout";

#container {
    width: 100%;
    @include flexbox(row, center, flex-start);
    #siteNav {
        width: 15%;
        height: 100%;
        background: #f1f1f1;
        .nav-inner {
            width: calc(100% - 4.4rem);
            margin: 2.5rem 2.2rem 0 2.2rem;
            box-shadow: 0 5px 10px #d3d3d3;
            .nav-title {
                width: 100%;
                height: 7rem;
                line-height: 7rem;
                background: #005c9e;
                color: #fff;
                span {
                    padding-left: 2.2rem;
                    font-family: $pretendard;
                    font-weight: 700;
                    font-size: 2rem;
                }
            }
            .list {
                width: 100%;
                li {
                    width: 100%;
                    padding: 2.5rem 0;
                    background: #fff;
                    &:nth-child(1) {
                        a {
                            color: #005c9e;
                            font-weight: 700;
                        }
                    }
                    &:not(:last-child) {
                        border-bottom: 1px solid #e4e4e4;
                    }
                    a {
                        @include flexbox(row, flex-start, center);
                        gap: 0.7rem;
                        margin-left: 2.5rem;
                        font-family: $pretendard;
                        font-weight: 400;
                        font-size: 1.6rem;
                        color: $black;
                    }
                }
            }
        }
    }
    #siteManage {
        width: 85%;
        height: calc(100vh - 7.5rem);
        background: #f1f1f1;
        .menu-manage {
            width: calc(100% - 2.5rem);
            height: calc(100% - 5.2rem);
            margin: 2.5rem 2.5rem 2.5rem 0;
            background: #fff;
            box-shadow: 0 5px 10px #d3d3d3;
            border: 1px solid #e4e4e4;
            .title {
                width: calc(100% - 8rem);
                margin: 0 4rem;
                padding: 2rem 0 2.5rem 0;
                border-bottom: 1px solid #e4e4e4;
                strong {
                    font-family: $pretendard;
                    font-weight: 700;
                    color: $black;
                    font-size: 2.6rem;
                    margin-left: 1rem;
                }
            }
            .menu-container {
                width: calc(100% - 8rem);
                margin: 2rem 4rem 0 4rem;
                @include flexbox(row, flex-start, flex-start);
                gap: 4rem;
                .accordion-menu {
                    width: 28%;
                    .accordion-inner {
                        width: 100%;
                        border: 1px solid #b5b5b6;
                        min-height: 61.5rem;
                        background: #fff;
                        .list {
                            width: calc(100% - 2rem);
                            padding: 2.3rem 1rem;
                            li {
                                width: 100%;
                                @include flexbox(column, flex-start,flex-start);
                                .list-item {
                                    width: 100%;
                                    @include flexbox(column, flex-start,flex-start);
                                    &.off {
                                        display: none;
                                    }
                                    &.item-01 {
                                        p {
                                            width: calc(100% - 1.8rem);
                                            padding-left: 1.8rem;
                                        }
                                    }
                                    &.item-02 {
                                        p {
                                            width: calc(100% - 3.6rem);
                                            padding-left: 3.6rem;
                                        }
                                    }
                                    &.item-03 {
                                        p {
                                            width: calc(100% - 5.4rem);
                                            padding-left: 5.4rem;
                                        }
                                    }
                                    p {
                                        width: 100%;
                                        padding: 0.5rem 0;
                                        font-family: $pretendard;
                                        font-weight: 400;
                                        font-size: 1.6rem;
                                        color: $black;
                                        @include flexbox(row,flex-start,center);
                                        gap: 1.2rem;
                                        &:hover {
                                            background: #f4f4f4;
                                            font-weight: 700;
                                            transition: all 0.2s ease-in-out;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .menu-table {
                    width: 72%;
                    table {
                        font-family: $pretendard;
                        color: $black;
                        font-size: 1.6rem;
                        width: 100%;
                        border-top: 2px solid #b5b5b6;
                        border-bottom: 2px solid #b5b5b6;
                        background: #fff;
                        min-height: 61.5rem;
                        tr {
                            border: 1px solid #e4e4e4;
                            height: 5.2rem;
                            &:last-child {
                                th {
                                    height: 21.6rem;
                                }
                            }
                            th {
                                font-weight: 700;
                                background: #f3f5f8;
                                text-align: left;
                                vertical-align: middle;
                                width: 16rem;
                                label {
                                    margin-left: 2rem;
                                }
                            }
                            td {
                                font-weight: 400;
                                height: 100%;
                                input {
                                    font-family: $pretendard;
                                    font-weight: 400;
                                    font-size: 1.6rem;
                                    width: 50%;
                                    height: calc(100% - 3.4rem);
                                    margin: 0.7rem;
                                    border: 1px solid #e4e4e4;
                                    padding: 1rem;
                                    &:focus {
                                        border-color: #e4e4e4;
                                        box-shadow: 0 0 1px 1px #000;
                                        color: #222;
                                        outline: none;
                                    }
                                }
                                select {
                                    position: relative;
                                    font-family: $pretendard;
                                    font-weight: 400;
                                    font-size: 1.6rem;
                                    height: calc(100% - 1.4rem);
                                    margin: 0.7rem;
                                    padding: 1rem;
                                    width: 20rem;
                                    -o-appearance: none;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    background: url(../images/arrow.png) calc(100% - 1.5rem) center no-repeat #fff;
                                    background-size: 1.7rem 0.9rem;
                                    border: 1px solid #e4e4e4;
                                    outline: none;
                                    &:focus {
                                        border-color: #e4e4e4;
                                        box-shadow: 0 0 1px 1px #039bd9;
                                        color: #222;
                                        outline: none;
                                    }
                                }
                                textarea {
                                    width: calc(100% - 3.4rem);
                                    height: calc(21.6rem - 3.4rem);
                                    font-family: $pretendard;
                                    font-weight: 400;
                                    font-size: 1.6rem;
                                    margin: 0.7rem;
                                    border: 1px solid #e4e4e4;
                                    padding: 1rem;
                                    resize: none;
                                    &:focus {
                                        border-color: #e4e4e4;
                                        box-shadow: 0 0 1px 1px #000;
                                        color: #222;
                                        outline: none;
                                    }
                                    &::-webkit-scrollbar {
                                        width: 8px;
                                    }
                                    &::-webkit-scrollbar-track {
                                        background-color: #fff;
                                        border-radius: 10px;
                                    }
                                    &::-webkit-scrollbar-thumb {
                                        border-radius: 10px;
                                        background-color: #e4e4e4;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}