html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;
}

/* font */
/* color */
#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
#container #siteNav {
  width: 15%;
  height: 100%;
  background: #f1f1f1;
}
#container #siteNav .nav-inner {
  width: calc(100% - 4.4rem);
  margin: 2.5rem 2.2rem 0 2.2rem;
  box-shadow: 0 5px 10px #d3d3d3;
}
#container #siteNav .nav-inner .nav-title {
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  background: #005c9e;
  color: #fff;
}
#container #siteNav .nav-inner .nav-title span {
  padding-left: 2.2rem;
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 2rem;
}
#container #siteNav .nav-inner .list {
  width: 100%;
}
#container #siteNav .nav-inner .list li {
  width: 100%;
  padding: 2.5rem 0;
  background: #fff;
}
#container #siteNav .nav-inner .list li.on a {
  color: #005c9e;
  font-weight: 700;
}
#container #siteNav .nav-inner .list li:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
}
#container #siteNav .nav-inner .list li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  margin-left: 2.5rem;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.6rem;
  color: #222222;
}

.btn-wrap {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2.2rem;
}
.btn-wrap button {
  background: #fff;
  border: 1px solid #003b7e;
  border-radius: 0.4rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  color: #003b7e;
  font-size: 1.6rem;
  padding: 0.9rem 5.7rem;
  cursor: pointer;
}
.btn-wrap button:hover {
  background: #003b7e;
  color: #fff;
  transition: all 0.1s ease-in;
}

.page .btn-wrap {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.page .btn-wrap button {
  width: 4.4rem;
  height: 4.4rem;
  background: #fff;
  border: 1px solid #b5b5b6;
  border-radius: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.page .btn-wrap button img {
  height: 1.8rem;
}

td {
  font-weight: 400;
  height: 100%;
}
td input {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.6rem;
  width: 50%;
  height: calc(100% - 3.4rem);
  margin: 0.7rem;
  border: 1px solid #e4e4e4;
  padding: 1rem;
}
td input:focus {
  border-color: #e4e4e4;
  box-shadow: 0 0 1px 1px #000;
  color: #222;
  outline: none;
}
td select {
  position: relative;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.6rem;
  height: calc(100% - 1.4rem);
  margin: 0.7rem;
  padding: 1rem;
  width: 20rem;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/arrow.png) calc(100% - 1.5rem) center no-repeat #fff;
  background-size: 1.7rem 0.9rem;
  border: 1px solid #e4e4e4;
  outline: none;
}
td select:focus {
  border-color: #e4e4e4;
  box-shadow: 0 0 1px 1px #039bd9;
  color: #222;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;
}

/* font */
/* color */
#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
#container #siteNav {
  width: 15%;
  height: 100%;
  background: #f1f1f1;
}
#container #siteNav .nav-inner {
  width: calc(100% - 4.4rem);
  margin: 2.5rem 2.2rem 0 2.2rem;
  box-shadow: 0 5px 10px #d3d3d3;
}
#container #siteNav .nav-inner .nav-title {
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  background: #005c9e;
  color: #fff;
}
#container #siteNav .nav-inner .nav-title span {
  padding-left: 2.2rem;
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 2rem;
}
#container #siteNav .nav-inner .list {
  width: 100%;
}
#container #siteNav .nav-inner .list li {
  width: 100%;
  padding: 2.5rem 0;
  background: #fff;
}
#container #siteNav .nav-inner .list li.on a {
  color: #005c9e;
  font-weight: 700;
}
#container #siteNav .nav-inner .list li:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
}
#container #siteNav .nav-inner .list li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  margin-left: 2.5rem;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.6rem;
  color: #222222;
}

.btn-wrap {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2.2rem;
}
.btn-wrap button {
  background: #fff;
  border: 1px solid #003b7e;
  border-radius: 0.4rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  color: #003b7e;
  font-size: 1.6rem;
  padding: 0.9rem 5.7rem;
  cursor: pointer;
}
.btn-wrap button:hover {
  background: #003b7e;
  color: #fff;
  transition: all 0.1s ease-in;
}

.page .btn-wrap {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.page .btn-wrap button {
  width: 4.4rem;
  height: 4.4rem;
  background: #fff;
  border: 1px solid #b5b5b6;
  border-radius: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.page .btn-wrap button img {
  height: 1.8rem;
}

td {
  font-weight: 400;
  height: 100%;
}
td input {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.6rem;
  width: 50%;
  height: calc(100% - 3.4rem);
  margin: 0.7rem;
  border: 1px solid #e4e4e4;
  padding: 1rem;
}
td input:focus {
  border-color: #e4e4e4;
  box-shadow: 0 0 1px 1px #000;
  color: #222;
  outline: none;
}
td select {
  position: relative;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.6rem;
  height: calc(100% - 1.4rem);
  margin: 0.7rem;
  padding: 1rem;
  width: 20rem;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/arrow.png) calc(100% - 1.5rem) center no-repeat #fff;
  background-size: 1.7rem 0.9rem;
  border: 1px solid #e4e4e4;
  outline: none;
}
td select:focus {
  border-color: #e4e4e4;
  box-shadow: 0 0 1px 1px #039bd9;
  color: #222;
  outline: none;
}

#header {
  width: 100%;
  height: 7.5rem;
  position: relative;
  z-index: 1;
}
#header .inner {
  width: calc(100% - 10.6rem);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4.6rem;
  padding-right: 6rem;
  background: #fff;
  box-shadow: 0 5px 10px #d3d3d3;
}
#header .inner .logo {
  width: 15%;
}
#header .inner .logo a img {
  width: 19rem;
  height: 1.9rem;
}
#header .inner .gnb-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header .inner .gnb-area .gnb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
#header .inner .gnb-area .gnb li {
  width: 14rem;
  text-align: center;
  line-height: 7.5rem;
  transition: all 1s ease-in-out;
}
#header .inner .gnb-area .gnb li a {
  position: relative;
  width: 100%;
  color: #222222;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.8rem;
}
#header .inner .gnb-area .gnb li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #005c9e;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
#header .inner .gnb-area .gnb li a:hover {
  font-weight: 700;
}
#header .inner .gnb-area .gnb li a:hover::after {
  opacity: 1;
  width: 100%;
}
#header .inner .gnb-area .login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#header .inner .gnb-area .login img {
  width: 1.8rme;
  margin-right: 0.6rem;
}
#header .inner .gnb-area .login span {
  font-family: "Pretendard";
  font-weight: 400;
  color: #222222;
  font-size: 1.4rem;
  margin-right: 2rem;
}
#header .inner .gnb-area .login button {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.4rem;
  color: #b3b3b3;
  padding: 0.5rem 0.9rem;
  border-radius: 0.4rem;
  border: 1px solid #b3b3b3;
  background: transparent;
  cursor: pointer;
}

#container #siteManage {
  width: 85%;
  height: calc(100vh - 7.5rem);
  background: #f1f1f1;
}
#container #siteManage .menu-manage {
  width: calc(100% - 2.5rem);
  height: calc(100% - 5.2rem);
  margin: 2.5rem 2.5rem 2.5rem 0;
  background: #fff;
  box-shadow: 0 5px 10px #d3d3d3;
  border: 1px solid #e4e4e4;
}
#container #siteManage .menu-manage .title {
  width: calc(100% - 8rem);
  margin: 0 4rem;
  padding: 2rem 0 2.5rem 0;
  border-bottom: 1px solid #e4e4e4;
}
#container #siteManage .menu-manage .title strong {
  font-family: "Pretendard";
  font-weight: 700;
  color: #222222;
  font-size: 2.6rem;
  margin-left: 1rem;
}
#container #siteManage .menu-manage .menu-container {
  width: calc(100% - 8rem);
  margin: 2rem 4rem 0 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
}
#container #siteManage .menu-manage .menu-container .accordion-menu {
  width: 28%;
}
#container #siteManage .menu-manage .menu-container .accordion-menu .accordion-inner {
  width: 100%;
  border: 1px solid #b5b5b6;
  min-height: 61.5rem;
  background: #fff;
}
#container #siteManage .menu-manage .menu-container .accordion-menu .accordion-inner .list {
  width: calc(100% - 2rem);
  padding: 2.3rem 1rem;
}
#container #siteManage .menu-manage .menu-container .accordion-menu .accordion-inner .list li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#container #siteManage .menu-manage .menu-container .accordion-menu .accordion-inner .list li .list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#container #siteManage .menu-manage .menu-container .accordion-menu .accordion-inner .list li .list-item.off {
  display: none;
}
#container #siteManage .menu-manage .menu-container .accordion-menu .accordion-inner .list li .list-item.item-01 p {
  width: calc(100% - 1.8rem);
  padding-left: 1.8rem;
}
#container #siteManage .menu-manage .menu-container .accordion-menu .accordion-inner .list li .list-item.item-02 p {
  width: calc(100% - 3.6rem);
  padding-left: 3.6rem;
}
#container #siteManage .menu-manage .menu-container .accordion-menu .accordion-inner .list li .list-item.item-03 p {
  width: calc(100% - 5.4rem);
  padding-left: 5.4rem;
}
#container #siteManage .menu-manage .menu-container .accordion-menu .accordion-inner .list li .list-item p {
  width: 100%;
  padding: 0.5rem 0;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.6rem;
  color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}
#container #siteManage .menu-manage .menu-container .accordion-menu .accordion-inner .list li .list-item p:hover {
  background: #f4f4f4;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
#container #siteManage .menu-manage .menu-container .menu-table {
  width: 72%;
}
#container #siteManage .menu-manage .menu-container .menu-table table {
  font-family: "Pretendard";
  color: #222222;
  font-size: 1.6rem;
  width: 100%;
  border-top: 2px solid #b5b5b6;
  border-bottom: 2px solid #b5b5b6;
  background: #fff;
  min-height: 61.5rem;
}
#container #siteManage .menu-manage .menu-container .menu-table table tr {
  border: 1px solid #e4e4e4;
  height: 5.2rem;
}
#container #siteManage .menu-manage .menu-container .menu-table table tr:last-child th {
  height: 21.6rem;
}
#container #siteManage .menu-manage .menu-container .menu-table table tr th {
  font-weight: 700;
  background: #f3f5f8;
  text-align: left;
  vertical-align: middle;
  width: 16rem;
}
#container #siteManage .menu-manage .menu-container .menu-table table tr th label {
  margin-left: 2rem;
}
#container #siteManage .menu-manage .menu-container .menu-table table tr td {
  font-weight: 400;
  height: 100%;
}
#container #siteManage .menu-manage .menu-container .menu-table table tr td textarea {
  width: calc(100% - 3.4rem);
  height: 18.2rem;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0.7rem;
  border: 1px solid #e4e4e4;
  padding: 1rem;
  resize: none;
}
#container #siteManage .menu-manage .menu-container .menu-table table tr td textarea:focus {
  border-color: #e4e4e4;
  box-shadow: 0 0 1px 1px #000;
  color: #222;
  outline: none;
}
#container #siteManage .menu-manage .menu-container .menu-table table tr td textarea::-webkit-scrollbar {
  width: 8px;
}
#container #siteManage .menu-manage .menu-container .menu-table table tr td textarea::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}
#container #siteManage .menu-manage .menu-container .menu-table table tr td textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e4e4e4;
}